{%extends "users/base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Instagram signup</title>
</head>
<body>

    {% block content %}
    <br><br><br><br><br>

    <div class="container">
          
  
                    {%for image in images%}
                    <div class="col-md-7">
                        {% if user_profile%}
                        <div class="row">
                          
                          <img src="{{user_profile.profile_pic.url}}" class="img-responsive img-circle" alt="" style="width:50px;height:50px;border-radius:118px;">
                            <h6><strong>{{user_profile.user.username}}</strong></h6>
                        </div>
                        
                        {%endif%}
                        
                        <img src="{{image.image.url}}" class="img-responsive" alt="" style="width: 300px; height: 240px;">

                        <a class="glyphicon glyphicon-heart" href="{% url 'like' id=image.id%}"></a>
                        <a class="far fa-comment" href="{% url 'new-comment' image.id%}"></a>
                        <p>{{image.likes}} <strong>Likes</strong></p>

                        <h6><strong>{{image.user.username}}: </strong>
                            <span>
                              {% autoescape on %}
                                    {{image.caption| safe}}
                                   {% endautoescape %}
                                  </span> </h6>
                              <p style="text-align: center">{{image.pub_date|timesince}}</p>
                  
                  {% for com in image.comment_set.all %}
                  <span><p><strong>{{com.user.username}}:</strong> {{com.comment}}</p></span>
                  {%endfor%}
            
                
                </div>
                    {%endfor%}
                  </div>
                   
    {% endblock %}
    
</body>
</html>