<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar bg-light navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-4" >
                <a class="navbar-brand"  href="{% url 'welcome' %}"><img src="/static/images/logo2.png" class="img-responsive" style="height: 1cm; margin: 5px; margin-left: 30px;"></a>

            </div>
            
            <div class="col-md-4">
            <form class="navbar-form navbar-center" role="search" action="{% url 'search_results' %}">
          
              <div class="form-group" style="margin-top: 30px;">
                <input type="text" class="form-control" placeholder="search username" name="search_results">
                
              </div>
              
            </form>

            </div>
            <div class="col-md-4">
              
              <a class="navbar-brand" href="{% url 'new_picture' %}"><img src="/static/images/add icon.png" class="img-responsive" style="height: 1cm; width: 1cm; margin-bottom: 30px;"><span style="font-size: 15px;font-family: 'Pacifico', cursive;"></span></a>
              
              <a class="navbar-brand" href="{%url 'user-profile' %}"><img src="/static/images/user icon.jpg" class="img-responsive" style="height: 1cm; width: 1cm; margin-bottom: 30px;"><span style="font-size: 15px;font-family: 'Pacifico', cursive;"></span></a>

              <a class="navbar-brand" href="{%url 'edit-profile' %}"><img src="/static/images/edit prof.png" class="img-responsive" style="height: 1.5cm; width: 1.5cm; margin-top: 0px;"><span style="font-size: 15px;font-family: 'Pacifico', cursive;"></span></a>
          
            </div>
         

        </div>

    </nav>
</body>
</html>